<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <head>
        <title>
our restaurents
        </title>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Restaurents</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse float-left" id="navbarNav">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
            
          <li class="nav-item active"> <div class="float-left"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item active"> <div class="float-left"> <a class="nav-link" href="addresturant">Add New Reaturents <span class="sr-only">(current)</span></a></li>
              <li class="nav-item active"> <div class="float-left"> <a class="nav-link" href="#">My Reaturents <span class="sr-only">(current)</span></a></li>

              </ul>
            </div>
                 <li class="nav-item active"> <div class="float-right "> <a class="nav-link text-danger" href="logout"><b>Logout</b><span class="sr-only">(current)</span></ul></span></a></li>            
      
    
  </nav>
  <h1>BANGALORE RESTAURENTS</h1> 
 <li> <div class="card-deck">
      <div class="card">
          <img src="https://www.vegas.com/traveltips/top-10-las-vegas-burgers/xgordonramsay-guide.jpg.pagespeed.ic.nUHZAi8RDj.jpg" class="card-img-top" alt="...">
          <div class="card-body"> 
            <h5 class="card-title">Burger house</h5>
            <p class="card-text">Cuisine. North Indian 7128. Chinese 5256. Fast Food 3919. South Indian 3557. Biryani 2519. Beverages 2343. 
                Establishment Type. Quick Bites 8463. Casual Dining 3067..</p>
           </div>
        </div> 

      <div class="card">
          <img src="http://www.manidipaskitchen.com/wp-content/uploads/2015/09/Best-Biryani-Restaurants-in-Kolkata.jpg" class="card-img-top" alt="...">
          <div class="card-body"> 
            <h5 class="card-title">Biryani corner</h5>
            <p class="card-text"> Bengaluru Restaurants - Menus, Photos, Ratings and Reviews for over 19000 Restaurants in Bengaluru.
                 Find the Best Restaurants in Bengaluru on Zomato.</p>
        </div>
        </div>

        <div class="card">
              <img src="http://jacksonholerestaurants.com/wp-content/uploads/2014/06/Pizza-Artisan-restaurant-840x560.jpg" class="card-img-top" alt="...">
           <div class="card-body">
            <h5 class="card-title">Pizza hut</h5>
            <p class="card-text"> A restaurant or an eatery, is a business which prepares and serves food and drinks to customers 
                in exchange for money. Meals are generally served and eaten .</p>
          </div>
        </div>

        <div class="card">
          <img src="https://images.washingtonpost.com/?op=resize&url=http://wp-dbknews.s3-website-us-east-1.amazonaws.com/images/2014/11/400d5d5962435c12b99c33a5e7a67284.jpg&mode=crop&w=1200&q=99" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Daily meals</h5>
            <p class="card-text">Mar 5, 2019 - Be it fine dining, authentic south Indian, or microbreweries, here are the best
                 restaurants in Bangalore to give food lovers an experience unlike</p>
          </div>
        </div>

      <div class="card">
        <img src="http://metropizza.com/images/design/promo2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pasta streat</h5>
          <p class="card-text">Order Food Online At Best Prices. Lightning Fast Delivery. Order Now! No Minimum Order Value. 
              Wide Range of Restaurants. Live Order Tracking. Types: South Indian, Chinese, North Indian, Biryani</p>
        </div>
      </div>
    </div>

