<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <!-----------------------------------------------------------------------------
            Here we will fetch the data from database and update the UI dynamically.
            Current UI is just for reference as we don't have any data in the database.
            ---------------------------------------------------------------------------- -->
            <div class="card">
                <img class="card-img-top" src="images/restaurant_960_720.jpg" alt="Image of restaurant">
                <div class="card-body">
                    <h5 class="card-title">Restaurant Name</h5>
                    <p class="card-text">Highlights of the review will go here...</p>
                    <a href="#" class="btn btn-primary">Review This restaurant</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Review 1</li>
                    <li class="list-group-item">Review 2</li>
                    <li class="list-group-item">Comment 1</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>